<div class="signup-form-padding">
    <div class="container login-form col-sm-6 col-sm-offset-3">
        <h2 class="login-title">- Sign Up -</h2>
        <div class="panel panel-default signup-form-panel col-sm-8 col-sm-offset-2">
            <div class="panel-body">
                <form name="userForm" novalidate>
                    <div class="input-group login-userinput col-sm-12">
                        <span class="glyphicon glyphicon-user icon-signup"></span>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine}">
                            <input id="txtUser" type="text" name="firstname" class="form-control" placeholder="First Name"  ng-model="user.firstname" pattern="[a-zA-Z]+" ng-pattern-restric required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Last Name" name="lastname"  ng-model="user.lastname" pattern="[a-zA-Z]+" ng-pattern-restric required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.company.$invalid && !userForm.company.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Company" name="company"  ng-model="user.company" required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
                            <input id="txtUser" type="email" class="form-control" placeholder="Email" name="email"  ng-model="user.email" required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Username" name="username"  ng-model="user.username" ng-minlength="3" pattern="[a-zA-Z]+" ng-pattern-restric required>
                            <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        </div>
                    </div>
                    <div class="input-group login-userinput col-sm-12">
                        <span class="glyphicon glyphicon-lock icon-signup"></span>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine}">
                            <input id="txtPassword" type="password" class="form-control" placeholder="Password"  name="password"  ng-model="user.password" ng-minlength="5" required>
                            <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.confirmpassword.$invalid && !userForm.confirmpassword.$pristine}">
                            <input id="txtPassword" type="password" class="form-control" placeholder="Confirm Password"  name="confirmpassword"  ng-model="user.confirmpassword" ng-minlength="5" required>
                        </div>
                    </div>
                    <div class="input-group login-userinput col-sm-12">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.country.$invalid && !userForm.country.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Country" name="country"  ng-model="user.country" pattern="[a-zA-Z]+" ng-pattern-restric required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.province.$invalid && !userForm.province.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Province" name="province"  ng-model="user.province" pattern="[a-zA-Z]+" ng-pattern-restric required >
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="City" name="city"  ng-model="user.city" pattern="[a-zA-Z]+" ng-pattern-restric required>
                            </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.postal.$invalid && !userForm.postal.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Postal Code" name="postal"  ng-model="user.postal" required>
                            </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.streetname.$invalid && !userForm.streetname.$pristine}">
                            <input id="txtUser" type="text" class="form-control" placeholder="Street Name" name="streetname"  ng-model="user.streetname" pattern="[a-zA-Z]+" ng-pattern-restric ng-pattern-restricrequired>
                            </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.streetnumber.$invalid && !userForm.streetnumber.$pristine}">
                            <input id="txtUser" type="number" class="form-control" placeholder="Street Number" name="streetnumber"  ng-model="user.streetnumber" required>
                        </div>
                    </div>
                    <div class="input-group login-userinput col-sm-12">
                        <span class="glyphicon glyphicon-phone-alt icon-signup"></span>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.personalphone.$invalid && !userForm.personalphone.$pristine}">
                            <input id="txtUser" type="number" class="form-control" placeholder="Personal Phone Number"name="personalphone"  ng-model="user.personalphone" pattern="[0-9]+" ng-pattern-restric ng-minlength="7" required>
                        </div>
                        <div class="input-form-padding col-sm-12" ng-class="{ 'has-error' : userForm.businessphone.$invalid && !userForm.businessphone.$pristine}">
                            <input id="txtUser" type="number" class="form-control" placeholder="Business Phone Number" name="businessphone"  ng-model="user.businessphone" pattern="[0-9]+" ng-pattern-restric ng-minlength="7" required>
                        </div>
                        <div class="signup-form-btn col-sm-12" ng-class="{ 'has-error' : userForm.$invalid }">
                            <button class="btn btn-primary btn-block login-button" type="submit" ng-disabled="userForm.$invalid">Sign Up</button>
                            <p ng-show="userForm.$invalid" class="help-block">Some fileds are missing</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
