<div class="animated fadeIn">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Create Promotion</h3>
        </div>
        <div class="modal-body ng-scope" id="modal-body">
            <form>
                <div class="form-group">
                    <label>Promotion Title</label>
                    <input type="text" class="form-control" placeholder="Enter Title" ng-model="promotionTitle">
                </div>
                <div class="form-group container modal-checkbox">
                    <label>Categories</label>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.footwear">
                            <span class="">Footwear</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.electronics">
                            <span class="">Electronics</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.jewellery">
                            <span class="">Jewellery</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.restaurants">
                            <span class="">Restaurants</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.services">
                            <span class="">Services</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="categories.apparel">
                            <span class="">Apparel</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label>File input</label>
                    <input type="file">
                    <small class="form-text text-muted">Choose a picture to promote</small>
                </div>
                <h4>Promotion Duration</h4>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sdt" is-open="startDate.opened" datepicker-options="startDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="edt" is-open="endDate.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="alert alert-warning" role="alert" ng-show="showDateWarning">
                    <strong>Warning!</strong> Start date cannot start before the end date. <a ng-click="closeWarning()">Close</a>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">Create</button>
        </div>
    </div>
</div>