<div class="animated fadeIn">
    <div class="modal-content">
        <div class="modal-header my-modal-header">
            <h3 class="modal-title" id="modal-title">{{ edit == true ? ' Modify Promotion' : 'Create Promotion'}}</h3>
        </div>
        <div class="modal-body ng-scope" id="modal-body">
            <form>
                <div class="form-group">
                    <label>Promotion Title</label>
                    <input type="text" class="form-control" placeholder="Enter Title" ng-model="promotionTitle">
                </div>
                <div class="form-group container modal-checkbox">
                    <label>Categories</label>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="0">
                            <span class="">Footwear</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="1">
                            <span class="">Electronics</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="2">
                            <span class="">Jewellery</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="3">
                            <span class="">Restaurants</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="4">
                            <span class="">Services</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="radio" ng-model="category" ng-value="5">
                            <span class="">Apparel</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" ng-model="promotionDescription"></textarea>
                </div>

                <label>Promotion Duration</label>
                <div class="row">
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sdt" is-open="startDate.opened" datepicker-options="startDateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDate()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="edt" is-open="endDate.opened" datepicker-options="endDateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div>
                    <label>Photo</label>
                    <input type="file" ngf-select ng-model="picFile" accept="image/*" class="btn btn-primary">
                    <div class="pull-right" style="margin-top:10px;">
                        <button class="btn btn-danger" ng-click="cropImage()" ng-show="!saveCrop" type="button">Crop</button>
                        <button class="btn btn-danger" ng-click="doneCrop()" ng-show="saveCrop" type="button">Save Crop</button>
                        <button class="btn btn-danger" ng-click="cancelCrop()" ng-show="saveCrop" type="button">Cancel Crop</button>

                        <div class="dropdown" style="display:inline-block" ng-hide="isCropImageEnable">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                {{selectedFilter}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Gamma')">Gamma</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Greyscale')">Greyscale</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Hue')">Hue</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Noise')">Noise</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Saturation')">Saturation</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Invert')">Invert</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Sepia')">Sepia</a></li>
                                <li><a href="javascript:void(0)" ng-click="applyFilter('Vibrance')">Vibrance</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-warning"ng-click="resetFilter()" ng-show="isResetEnable" type="button">Reset Filter</button>
                        <button class="btn btn-warning" ng-click="saveFilter()" ng-show="isResetEnable" type="button">Save Filter</button>
                        <button class="btn btn-danger" ng-click="removeImage()" ng-show="picFile" type="button">Remove</button>
                    </div>
                    <small class="form-text text-muted">Choose a picture to promote</small>


                    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                        <img ngf-src="previewImage" ng-hide="isCropImageEnable" style="height: 100%;width: auto;background-size: contain;background-repeat: no-repeat;" id="previewImage">
                        <ui-cropper image="previewImage" area-type="rectangle"
                                    result-image="croppedDataUrl" allow-crop-resize-on-corners="true" ng-show="isCropImageEnable"></ui-cropper>
                    </div>
                    <div ng-show="isCropImageEnable">
                        <img ng-show="croppedDataUrl!=null" ng-src="{{croppedDataUrl}}" />
                    </div>
                </div>
            </form>
        </div>
        <div class="alert alert-warning" role="alert" ng-show="showDateWarning">
            <strong>Warning!</strong> Start date cannot start before the end date. <a ng-click="closeWarning(0)" class="close-warning">Close Warning</a>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showTitleWarning">
            <strong>Oh snap!</strong> The promotion must have a title <a ng-click="closeWarning(1)" class="close-warning">Close Warning</a>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showDescriptionWarning">
            <strong>Oh snap!</strong> The promotion must have a description <a ng-click="closeWarning(2)" class="close-warning">Close Warning</a>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showCategorynWarning">
            <strong>Oh snap!</strong> The promotion must have a category <a ng-click="closeWarning(3)" class="close-warning">Close Warning</a>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="showImageWarning">
            <strong>Oh snap!</strong> The promotion must have a image <a ng-click="closeWarning(4)" class="close-warning">Close Warning</a>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{ edit == true ? 'Modify' : 'Create'}}</button>
        </div>
    </div>
</div>