<nav class="navbar navbar-inverse nav-bar-background-color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-bar-textColor" href="#">Glimpse</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#" class="">Create Promotion</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="home-nav-bar col-sm-12">
       <div class="col-sm-1 nav-sections"><h4><a></a></h4></div>
    </div>

    <h2>Authorize</h2>
    <p>{{data}}</p>

</div>