<div class="login-form-padding">
    <div class="container login-form col-sm-6 col-sm-offset-3">
        <h2 class="login-title">- Please Login -</h2>
        <div class="panel panel-default login-form-panel col-sm-8 col-sm-offset-2">
            <div class="panel-body">
                <form>
                    <div class="input-group login-userinput">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="txtUser" type="text" class="form-control" name="username" placeholder="Username" ng-model="user.username">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="txtPassword" type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password">
                    </div>
                    <button class="btn btn-primary btn-block login-button" type="submit" ng-click="getData()"><i class="fa fa-sign-in"></i> Login</button>
                    <div class="checkbox login-options">
                        <label><input type="checkbox" /> Remember Me</label>
                        <a href="#" class="login-forgot">Forgot Username/Password?</a>
                    </div>
                    <div class="col-sm-12">
                        <a ui-sref="signup" class="login-forgot">Create new Account</a>
                    </div>
                    <h2>Authorize</h2>
                    <p>{{data}}</p>
                </form>
            </div>
        </div>
    </div>
</div>