<div class="landing-background animated fadeIn container">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <div class="padding-zero" style="margin-left:130px">
                <div class="landing-pic"></div>
            </div>
        </div>
        <div class="login-form-padding col-sm-6">
            <div class="col-sm-10 offset-sm-2 landing-title glimpse-color">
                Glimpse
            </div>
            <div class="col-sm-10 offset-sm-2 landing-desc">
                Glimpse offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
            </div>

            <div>
                <div class="panel panel-default login-form-panel col-sm-10 offset-sm-2">
                    <div class="panel-body">
                        <form>
                            <div class="input-group login-userinput">
                                <span class="input-group-addon login-icons"><span class="fa fa-user"></span></span>
                                <input id="txtUser" type="text" class="form-control login-input-fields" name="username" placeholder="Email" ng-model="user.username">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon login-icons"><span class="fa fa-lock"></span></span>
                                <input id="txtPassword" type="password" class="form-control login-input-fields" name="password" placeholder="Password" ng-model="user.password">
                            </div>
                            <div class="input-form-padding col-sm-12 has-danger" ng-show="incorrect">
                                <p class="form-control-feedback">Incorrect username or password <br />Please Try Again Shortly</p>
                            </div>
                            <button class="btn btn-glimpse btn-block login-button" ng-click="login()" ng-disabled="preventLogin"><i class="fa fa-sign-in"></i> Login</button>
                            <div class="col-sm-12">
                                <a class="login-new-account pull-right" ui-sref="signup">Create new Account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>