<div class="animated fadeIn">
    <div class="modal-content">
        <div class="modal-body ng-scope" id="modal-body">
            <form>
                <div class="form-group">
                    <p class="promotion-map-title">{{Title}}</p>
                </div>
                <div class="form-group">
                    <p class="promotion-map-value">{{Description}}</p>
                </div>
                <div class="form-group container">
                    <p class="promotion-map-value">{{Category}}</p>
                </div>
                <div class="row">
                    <p class="promotion-map-value"><span>From</span>: {{PromotionStartDate | date : "fullDate"}}</p>
                    <p class="promotion-map-value"><span>To</span>: {{PromotionEndDate | date : "fullDate"}}</p>
                </div>
                <div>
                    <div class="cropArea">
                        <img ng-src="{{previewImage}}" alt="Promotion Picture" style="height: 100%;width: auto;background-size:auto;background-repeat: no-repeat;">
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Okay</button>
        </div>
    </div>
</div>
