<div class="animated fadeIn">

    <div class="promotion-border col-sm-12">
        <div class="col-sm-12 promotion-list filter-table">

            <div class="col-sm-12"></div>
            <div class="col-sm-12 search-div">
                <input class="col-sm-12 search-categories" type="text" ng-model="searchPromotionText" placeholder="Search">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="masonry">
                <div class="masonry-filter-container">
                    <span>Category:</span>
                    <div class="masonry-filter-holder">
                        <div class="masonry__filters" data-filter-all-text="All Categories"><ul><li class="active" data-masonry-filter="*">All Categories</li><li data-masonry-filter="accessories" class="">Accessories</li><li data-masonry-filter="audio" class="">Audio</li><li data-masonry-filter="computing" class="">Computing</li><li data-masonry-filter="creative" class="">Creative</li></ul></div>
                    </div>
                </div>
                <div class="row">
                    <div class="masonry__container masonry--active" style="position: relative; height: 965px;">
                        <div class="masonry__item col-sm-6 col-md-3" style="position: absolute; left: 0px; top: 0px;"></div>

                        <div class="masonry__item col-sm-6 col-md-3 filter-computing" ng-click="showImage(promotion)" ng-repeat="(key, promotion) in promotions | limitTo:4 | reverse | filter:searchPromotionText | filter:{Category: selectVal}">

                            <div class="" data-masonry-filter="Computing" style="position: absolute; top: 0px;">
                                <div class="product">
                                    <a ng-click="showImage(promotion)">
                                        <img style="width: 262.5px; height: 199px; "alt="Image" ng-src="https://glimpseimages.blob.core.windows.net/imagestorage/{{promotion.PromotionImageURL}}">
                                    </a>
                                    <a class="block">
                                        <div>
                                            <div class="col-sm-12" style="text-align:center"><h5>{{promotion.Title}}</h5></div>
                                            <span>{{promotion.Description}}</span>
                                        </div>
                                        <div>
                                            <span class="h4 inline-block type--strikethrough">$899</span>
                                            <span class="h4 inline-block">$799</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="masonry__item col-sm-6 col-md-3 filter-audio" data-masonry-filter="Audio" style="position: absolute; left: 0px; top: 313px;">
                            <div class="product">
                                <a href="#">
                                    <img alt="Image" src="https://glimpseimages.blob.core.windows.net/imagestorage/688%2Fyoooo%2Fcover">
                                </a>
                                <a class="block" href="#">
                                    <div>
                                        <h5>DALI Xensor 2</h5>
                                        <span> Desktop Speaker</span>
                                    </div>
                                    <div>
                                        <span class="h4 inline-block">$269</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-sm-6 col-md-3 filter-audio" data-masonry-filter="Audio" style="position: absolute; left: 292px; top: 313px;">
                            <div class="product">
                                <a href="#">
                                    <img alt="Image" src="https://glimpseimages.blob.core.windows.net/imagestorage/688%2Fyoooo%2Fcover">
                                </a>
                                <a class="block" href="#">
                                    <div>
                                        <h5>Tivoli M1</h5>
                                        <span> Digital Radio</span>
                                    </div>
                                    <div>
                                        <span class="h4 inline-block type--strikethrough">$479</span>
                                        <span class="h4 inline-block">$399</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="masonry__item col-sm-6 col-md-3 filter-computing" data-masonry-filter="Computing" style="position: absolute; left: 585px; top: 313px;">
                            <div class="product">
                                <a href="#">
                                    <img alt="Image" src="https://glimpseimages.blob.core.windows.net/imagestorage/688%2Fyoooo%2Fcover">
                                </a>
                                <a class="block" href="#">
                                    <div>
                                        <h5>Microsoft Surface</h5>
                                        <span> 256GB Core i7</span>
                                    </div>
                                    <div>
                                        <span class="h4 inline-block">$1399</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                    <!--end masonry container-->
                </div>
                <!--end of row-->
            </div>
            <!--end masonry-->
        </div>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-12 promotion-list promotion-table">
            
            <div class="col-sm-12 padding-zero promotion-background">
                    <div class="col-sm-3 promotion-height" ng-click="showImage(promotion)" ng-repeat="(key, promotion) in promotions | reverse | filter:searchPromotionText | filter:{Category: selectVal}">
                        <div class="col-sm-12 padding-zero bkg-white promotion-height2">
                            <div class="col-sm-12 label-categories" ng-switch={{promotion.Category}}>
                                <span class="label label-footwear pull-right" ng-switch-when=0>Footwear</span>
                                <span class="label label-electronics pull-right" ng-switch-when=1>Electronics</span>
                                <span class="label label-jewellery pull-right" ng-switch-when=2>Jewellery</span>
                                <span class="label label-restaurants pull-right" ng-switch-when=3>Restaurants</span>
                                <span class="label label-services pull-right" ng-switch-when=4>Services</span>
                                <span class="label label-apparel pull-right" ng-switch-when=5>Apparel</span>
                            </div>
                            <div class="col-sm-10 offset-sm-1 promotion-image"><img class="col-sm-12 img-middle padding-zero" ng-show="!!promotion.PromotionImageURL" ng-src="https://glimpseimages.blob.core.windows.net/imagestorage/{{promotion.PromotionImageURL}}" ng-click="openImg()"></div>

                            <div class="col-sm-12">
                                <div class="col-sm-12 padding-zero promotion-title">
                                    <div style="white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis">{{promotion.Title}}</div>
                                </div>

                                <div class="col-sm-12 padding-zero promotion-value">
                                    {{promotion.Description}}
                                </div>
                                


                                <!--<div class="col-sm-6 padding-zero promotion-value">Start : {{promotion.PromotionStartDate | date : "fullDate"}}</div>
                                <div class="col-sm-6 padding-zero promotion-value">End : {{promotion.PromotionEndDate | date : "fullDate"}}</div>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>