
<div class="animated fadeIn">
    <div class="promotion-border col-sm-10 offset-sm-1">
        <div class="col-sm-12 promotion-list promotion-table">
            <div class="col-sm-12 promotion-table-title">
                <div class="col-sm-4">
                    <h3 class="login-button">Recent Promotions</h3>
                </div>
                <div class="offset-sm-4">
                    <div class="col-sm-12 promotion-buttons-edit-create">
                        <button type="submit" class="btn btn-success pull-right" ng-click="showCreatePromotionModal()">Add</button>
                        <button type="submit" class="btn btn-white pull-right">Edit</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 padding-zero members-scroll prat">
                <div class="col-sm-12 padding-zero" ng-repeat="(key, promotion) in promotions | reverse">
                    <div class="col-sm-12 padding-zero promotion-title">{{promotion.Title}}</div>
                    <div class="col-sm-12 padding-zero promotion-info">
                        <div class="col-sm-6 padding-zero promotion-info">Promotion Description</div>
                        <div class="col-sm-6 padding-zero promotion-value">{{promotion.Description}}</div>
                    </div>
                    <div class="col-sm-6 padding-zero promotion-info">Promotion Category</div>
                    <div class="col-sm-6 padding-zero promotion-value" ng-switch={{promotion.Category}}>
                        <div ng-switch-when=0>Footwear</div>
                        <div ng-switch-when=1>Electronics</div>
                        <div ng-switch-when=2>Jewellery</div>
                        <div ng-switch-when=3>Restaurants</div>
                        <div ng-switch-when=4>Services</div>
                        <div ng-switch-when=5>Apparel</div>
                    </div>
                    <div class="col-sm-6 padding-zero promotion-info">Promotion Start Date</div>
                    <div class="col-sm-6 padding-zero promotion-value">{{promotion.PromotionStartDate}}</div>
                    <div class="col-sm-6 padding-zero promotion-info">Promotion End Date</div>
                    <div class="col-sm-6 padding-zero promotion-value">{{promotion.PromotionEndDate}}</div>
                    <div class="col-sm-6 padding-zero promotion-info">Promotion Image</div>
                    <div class="col-sm-6 padding-zero promotion-value"><img class="promotion-image" ng-src="data:image/JPEG;base64,{{promotion.PromotionImage}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>