<div class="animated fadeIn">

    <div class="promotion-border col-sm-12 padding-zero">
        <div class="col-sm-12" style="height:600px;">
            <div class="col-sm-12 cover-picture-city">
                <div class="col-sm-12" style="margin-top:120px;">
                    <div class="col-sm-12">
                        <h1 style="text-align:center; font-weight:200; color:white;">Searching for a specific promotion?</h1>
                    </div>
                    <div class="col-sm-12" style="margin-top:50px;">
                        <p style="margin-bottom: 20px; font-size: 20px; font-weight: 300; line-height: 1.4; color:white; text-align:center;">Find my title name or by category</p>
                    </div>
                    <div class="col-sm-8 offset-sm-2" style="border-radius: 6px; background: #fff; margin-top:40px; padding:33px;">
                        <div class="">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-secondary dropdown-toggle my-dropdown col-sm-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </button>
                                <div class="dropdown-menu col-sm-12" style="left:auto !important; min-width:9rem; width:154px; border-color:#2FD4AD !important;">
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 0">Footwear</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 1">Electronics</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 2">Jewellery</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 3">Restaurants</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 4">Services</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = 5">Apparel</a>
                                    <a class="dropdown-item my-dp-item" ng-click="selectVal = ''">All</a>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input class="search-categories col-sm-12" type="text" ng-model="searchPromotionText" placeholder="Search" style="height:50px; width:100%"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--<div class="col-sm-12 promotion-list filter-table">
           
            <div class="col-sm-12 search-div">
                <input class="col-sm-12 search-categories" type="text" ng-model="searchPromotionText" placeholder="Search">
            </div>
            
            <div class="col-sm-12 filter-label">
                <div class="col-sm-12">Filter Promotions by Categories </div>
                <div class="btn-group col-sm-12" >
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='all' value="" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="all" class="categories-size">All</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='footwear' value="0" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="footwear" class="categories-size">Footwear</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='electronics' value="1" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="electronics" class="categories-size">Electronics</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='jewellery' value="2" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="jewellery" class="categories-size">Jewellery</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='restaurants' value="3" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="restaurants" class="categories-size">Restaurants</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='services' value="4" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="services" class="categories-size">Services</span>
                    </label>
                    <label class="btn text-align-init padding-zero col-sm-3 categories-h">
                        <input class="categories-radio-button" type="radio" name='apparel' value="5" ng-model="selectVal"><i class="fa fa-circle-o "></i><i class="fa fa-dot-circle-o "></i> <span id="apparel" class="categories-size">Apparel</span>
                    </label>
                </div>
            </div>
        </div>-->

    <div class="container">
        <div class="col-sm-12 promotion-list promotion-table">
            <div class="col-sm-12 padding-zero promotion-background">
                <div class="col-sm-3 promotion-height animation" ng-click="showImage(promotion)" ng-repeat="(key, promotion) in promotions | reverse | filter:searchPromotionText | filter:{Category: selectVal}" ng-animate="'animate'">
                    <div class="col-sm-12 padding-zero bkg-default promotion-height2">
                        <div class="col-sm-12 label-categories" ng-switch={{promotion.Category}}>
                            <span class="label label-footwear pull-right" ng-switch-when=0>Footwear</span>
                            <span class="label label-electronics pull-right" ng-switch-when=1>Electronics</span>
                            <span class="label label-jewellery pull-right" ng-switch-when=2>Jewellery</span>
                            <span class="label label-restaurants pull-right" ng-switch-when=3>Restaurants</span>
                            <span class="label label-services pull-right" ng-switch-when=4>Services</span>
                            <span class="label label-apparel pull-right" ng-switch-when=5>Apparel</span>
                        </div>
                        <div class="col-sm-10 offset-sm-1 promotion-image">
                            <img class="col-sm-12 img-middle padding-zero" ng-show="!!promotion.PromotionImageURL" ng-src="https://glimpseimages.blob.core.windows.net/imagestorage/{{promotion.PromotionImageURL}}" ng-click="openImg()">
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12 padding-zero promotion-title">
                                <div style="white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis">{{promotion.Title}}</div>
                            </div>
                            <div class="col-sm-12 padding-zero promotion-value">
                                {{promotion.Description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>